<!-- Marker based -->
<!-- <a-scene embedded arjs>
  <a-marker preset="hiro"> -->
<!-- we use cors proxy to avoid cross-origin problems -->
<!--
      ⚠️⚠️⚠️
      https://arjs-cors-proxy.herokuapp.com/ is now offline, Heroku has dismissed all his free plans from November 2022.
      You need to host your own proxy and use it instead. The proxy is based on CORS Anywhere (see https://github.com/Rob--W/cors-anywhere).
      ⚠️⚠️⚠️
    -->
<!-- <a-entity
      position="0 0 0"
      scale="0.05 0.05 0.05"
      gltf-model="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/scene.gltf"
    ></a-entity>
  </a-marker>
  <a-entity camera></a-entity>
</a-scene> -->

<!-- Location based -->

<!-- <a-scene
  vr-mode-ui="enabled: false"
  arjs="sourceType: webcam; videoTexture: true; debugUIEnabled: false"
  renderer="antialias: true; alpha: true"
>
  <a-camera gps-new-camera="gpsMinDistance: 1" maxDistance="1"></a-camera> -->
<!-- Jaden's neighbor -->
<!-- <a-entity
    material="color: blue"
    geometry="primitive: box"
    gps-new-entity-place="latitude: 40.302328; longitude: -112.014147"
    scale="1 1 1"
  ></a-entity> -->

<!-- Jaden's office -->
<!-- <a-entity
    material="color: yellow"
    geometry="primitive: box"
    gps-new-entity-place="latitude: 40.302336; longitude: -112.013681"
    scale="1 1 1"
  ></a-entity> -->

<!-- Jaden's trampoline -->
<!-- <a-entity
    material="color: purple"
    geometry="primitive: box"
    gps-new-entity-place="latitude: 40.302308; longitude: -112.013462"
    scale="1 1 1"
  ></a-entity> -->

<!-- John's house -->
<!-- <a-entity
    material="color: red"
    geometry="primitive: box"
    gps-new-entity-place="latitude: 40.088200; longitude: -111.635050"
    scale="1 1 1"
  ></a-entity> -->

<!-- Landon's house -->
<!-- <a-entity
    material="color: green"
    geometry="primitive: box"
    gps-new-entity-place="latitude: 40.35771040195902; longitude: -111.9473599979304"
    scale="1 1 1"
  ></a-entity>

  <a-entity
    material="color: green"
    geometry="primitive: box"
    gps-new-entity-place="latitude: 40.357794712262084; longitude: -111.94737139731848"
    scale="1 1 1"
  ></a-entity>
</a-scene> -->
<!-- </a-scene> -->

<!-- Barcodes test -->
<!-- we add detectionMode and matrixCodeType to tell AR.js to recognize barcode markers -->
<a-scene
  embedded
  arjs="sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;"
>
  <a-assets>
    <a-asset-item
      id="animated-asset"
      src="https://raw.githubusercontent.com/nicolocarpignoli/nicolocarpignoli.github.io/master/ar-playground/models/CesiumMan.gltf"
    ></a-asset-item>
  </a-assets>

  <a-marker type="barcode" value="7">
    <a-box position="0 0.5 0" color="yellow"></a-box>
  </a-marker>

  <a-marker id="animated-marker" type="barcode" value="6">
    <a-entity gltf-model="#animated-asset" scale="2"> </a-entity>
  </a-marker>

  <!-- use this <a-entity camera> to support multiple-markers, otherwise use <a-marker-camera> instead of </a-marker> -->
  <a-entity camera></a-entity>
</a-scene>
